* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F4F4F4;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body p{
    margin: 0;
    padding: 0;
}

#Cabecalho, #Rodape{
    margin: 0;
    background-color: #82b4b1;
    color: white;
}

#Cabecalho{
    font-size: 1.75em;
    /*min-height: 9.507vh;*/
    /*max-height: 9.507vh;*/
}

#Rodape{
    /*padding: 0.634vh;*/
    font-size: 2.4em;
    /*min-height: 9.742vh;*/
    /*max-height: 9.742vh;*/
}

#caixaPesquisa{
    visibility: hidden;
}

.ads{
    margin-top: 2.84em;
}

.ads img{
    width: 100%;
}