* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F4F4F4;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body p{
    margin: 0;
    padding: 0;
}

#Cabecalho, #Rodape{
    margin: 0;
    background-color: #82b4b1;
    color: white;
}

#Cabecalho{
    width: 100vw;
    font-size: 6.75vw;
}

#Rodape{
    padding: 1vw;
    font-size: 9vw;
}

#caixaPesquisa{
    visibility: hidden;
}

.ads{
}